{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Ver consola{% endblock %}

{% block page_title %}<h1 class="text-default">Consola</h1>{% endblock %}

{% block page_title_right %}
{% endblock %}


{% block page_content %}

    <style>
        .left_col{
            height:1300px;
        }
    </style>

    <br><br>

     <table id="example" class="display" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Accion</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Accion</th>
                <th>Fecha</th>
            </tr>
        </tfoot>
        <tbody>
            {% for l in log %}
            <tr data-id="{{ l.id }}">
                <td>{{ l.id }}</td>
                <td>{{ l.user.username }}</td>
                <td>{{ l.title }}</td>
                <td>{{ l.updateAt|date('Y-m-d H:i:s')}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

{% endblock %}
