{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Ver historial{% endblock %}

{% block page_title %}<h1 class="text-default">Historial</h1>{% endblock %}

{% block page_title_right %}
{% endblock %}


{% block page_content %}

    <style>
        .left_col{
            height:1300px;
        }
    </style>

    <br>

    <ul class="list-group">
        {% for l in log %}
            {% if l.type == 'new' %}
            <li class="list-group-item list-group-item-success">
                <span class="bold">{{ l.user.username }}({{ l.updateAt|date('Y-m-d H:i:s')}}):</span> {{ l.title }}
            </li>
            {% elseif l.type == 'edit' %}
            <li class="list-group-item list-group-item-info">
                <span class="bold">{{ l.user.username }}({{ l.updateAt|date('Y-m-d H:i:s')}}):</span> {{ l.title }}
            </li>
            {% elseif l.type == 'delete' %}
            <li class="list-group-item list-group-item-danger">
                <span class="bold">{{ l.user.username }}({{ l.updateAt|date('Y-m-d H:i:s')}}):</span> {{ l.title }}
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="navigation text-center">
        {{ knp_pagination_render(log) }}
    </div>

{% endblock %}
