<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><span>Admin - El Molino</span></a>
        </div>

        <div class="clearfix"></div>

        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="{{ asset('images/perfil.jpg')}}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Bienvenido</span>
                <h2>Sr. Admin</h2>
            </div>
        </div>

        <br><br>

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section active">
                <h3>General</h3>
                <ul class="nav side-menu" style="">
                    <li class=""><a href="{{ path('home_index') }}"><i class="fa fa-bar-chart"></i>Inicio</a></li>
                    <ul class="nav side-menu" style="">
                        <li class=""><a href="{{ path('email_index') }}"><i class="fa fa-envelope-o"></i>Emails</a></li>
                    </ul>
                    <ul class="nav side-menu" style="">
                        <li class=""><a href="{{ path('log_index') }}"><i class="fa fa-desktop"></i>Historial</a></li>
                    </ul>
                </ul>
            </div>

            <div class="menu_section active">
                <h3>Entidades</h3>
                <ul class="nav side-menu" style="">
                    <ul class="nav side-menu" style="">
                        <li class=""><a href="{{ path('user_index') }}"><i class="fa fa-user"></i>Usuarios</a></li>
                    </ul>
                    <li class=""><a><i class="fa fa-calendar"></i>Eventos<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('event_new') }}">Agregar evento</a></li>
                            <li><a href="{{ path('event_index') }}">Ver eventos</a></li>
                            <li><a href="{{ path('type_event_index') }}">Ver tipos de eventos</a></li>
                        </ul>
                    </li>
                    <li class=""><a><i class="fa fa-address-card"></i>Jugadores<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('player_new') }}">Agregar jugador</a></li>
                            <li><a href="{{ path('player_index') }}">Ver jugadores</a></li>
                        </ul>
                    </li>
                    <li class=""><a><i class="fa fa-trophy"></i>Rankings<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('ranking_new') }}">Asginar ranking</a></li>
                            <li><a href="{{ path('ranking_index') }}">Ver rankings</a></li>
                        </ul>
                    </li>
                    <li class=""><a><i class="fa fa-table"></i>Partidos<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('match_new') }}">Agregar partidos</a></li>
                            <li><a href="{{ path('match_index') }}">Ver partidos</a></li>
                        </ul>
                    </li>
                    <li class=""><a><i class="fa fa-usd"></i>Dinero<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('spend_new') }}">Agregar recaudación</a></li>
                            <li><a href="{{ path('spend_index') }}">Ver recaudaciones</a></li>
                            <li><a href="{{ path('prices_index') }}">Ver precios</a></li>
                        </ul>
                    </li>
                    <li class=""><a><i class="fa fa-male"></i>Abonos<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('finance_new') }}">Agregar abono</a></li>
                            <li><a href="{{ path('finance_index') }}">Ver abonos</a></li>
                        </ul>
                    </li>
                    <li class=""><a><i class="fa fa-book"></i>Noticias<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('notice_new') }}">Agregar noticia</a></li>
                            <li><a href="{{ path('notice_index') }}">Ver noticias</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>
